# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# TypeScript
dist/

# NodeJS
node_modules/

# Environment Variables
.env*
!.env.example

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
