name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  typecheck:
    name: Check TypeScript types
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: 20

      - name: Install Dependencies
        run: yarn --immutable

      - name: Check types
        run: yarn typecheck

  biome:
    name: Check Biome formatting and linting
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome
        run: biome ci .

  reviewdog:
    if: github.event_name == 'pull_request'
    name: Create Reviewdog report
    runs-on: blacksmith-2vcpu-ubuntu-2204
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Biome Reviewdog Action
        uses: mongolyy/reviewdog-action-biome@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
