name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  typecheck:
    name: Check TypeScript types
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: 20

      - name: Install Dependencies
        run: yarn --immutable

      - name: Check types
        run: yarn typecheck

  biome:
    name: Check Biome formatting and linting
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome
        run: biome ci .
